.h1{
    text-decoration-color: aquamarine;
}

.h2{
    text-decoration-color: rebeccapurple ;
}

.h3{
    text-decoration-color: red;
}

.h4{
    text-decoration-color: rosybrown;
}

.h5{
    text-decoration-color: seagreen;
}

.h6{
    text-decoration-color: yellow;
}

myArray[
    solidcolors: solid red,blue,
]